<h1>Cart Contents</h1>

<div>
  <table class="table">
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>

    {{# each items }}  
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.dollars }}</td>
      <td>
        {{ quantity }}
        <button {{ action "more" this }}>+</button>
        <button {{ action "less" this }}>-</button>
      </td>
      <td>{{ dollars }}</td>
    </tr>
    {{/ each }}

    <tr>
      <td>Total</td>
      <td></td>
      <td></td>
      <td>{{ dollars }}</td>
    </tr>

  </table>
</div>

