<h1>
  {{ name }}
</h1>

<div class='row'>
  <div class='col-lg-8'>
    <img {{ bind-attr src=image }} class='thumbnail col-lg-12' />
  </div>
  <div class='col-lg-4'>
    {{ description }}
    <hr>
    {{ dollars }}
    <hr>
    <a href=“#” {{action "addToCart" this}} class='btn'>Add to Cart</a>
  </div>
</div>